@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  padding: 5px;
  /*play around with this and li maybe?*/
}

a{
  text-decoration: none;
}

.content{
  display: flex;
  background-color: aliceblue;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer{
  background-color: #eeeeee;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  justify-content: space-between;
}

.left-links{
  display: flex;
  gap: 16px;
}

.right-links{
  display: flex;
  gap: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
}

